<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - LungPredict</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">LungPredict</a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    

    <section id="contact" style="text-align: center; margin-top: 50px;">
        <h2>Contact</h2>
        <p>Feel free to connect with me via LinkedIn or check out my GitHub repositories:</p>
        <ul style="list-style-type: none; padding: 0;">
            <li>
                <a href="https://www.linkedin.com/in/joel-rufus-2b1200299?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" 
                   target="_blank" style="text-decoration: none; color: #5a9bf6; font-weight: bold;">
                    LinkedIn Profile
                </a>
            </li>
            <li>
                <a href="https://github.com/joelrufus" 
                   target="_blank" style="text-decoration: none; color: #5a9bf6; font-weight: bold;">
                    GitHub Profile
                </a>
            </li>
        </ul>
    </section>
</body>
</html>
